<!DOCTYPE html>
<html lang="ja">
<head>
    <title>NyanID 初期設定</title>
    <!--  cssの設定 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<header data-nyanHtml="html_header">
    <h1 class="center">NyanID</h1>
</header>
<main ata-nyanHtml="html_main">

    <div class="container">
        <div class="center">初期設定が完了しています。</div>
        <div class="center mt_32"><a href="/login" class="button">ログインへ</a></div>
    </div>




</main>
<footer data-nyanHtml="footerHtml">
    NyanID
</footer>
</body>
</html>