<!DOCTYPE html>
<html lang="ja">
<head>
    <title>NyanID ログイン</title>
    <!--  cssの設定 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/const.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/login.js?time=1"></script>
</head>
<body>
<header data-nyanString="html_header">
    <div class="right"><a href="/login" class="button small bg-gray">ログインへ戻る</a></div>
    <h1>NyanID パスワードリマインド</h1>
</header>
<main data-nyanString="html_main">
    <section class="login-section container">
        <div id="loginForm">
            <div class="form-group center">
                <label for="username">ユーザー名もしくはメールアドレス</label>
                <br>
                <input type="text" id="username" name="username" value="" placeholder="ユーザー名もしくはメールアドレスを入力してください">
            </div>
            <div class="center mt_32">
                <button type="button" class="button " id="loginButton" onclick="reset_password()">送信</button>
            </div>
        </div>
    </section>
</main>
<footer data-nyanHtml="footerHtml">
    NyanID
</footer>
</body>
</html>